body {
	    background-image: url('images/geocaching-logo-750x750.png');
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center;
	    background-size: contain;

	    font-family: sans-serif;
	}

div.header {
	    background: DarkTurquoise;
	}
div.center {
	    text-align: center;
	}
div.right {
	    text-align: right;
	}

div.google {
	    position: fixed;
	    bottom: 1em;
	    right: 1em;
	}

div.communities_overview {
	}

.row {
	    display: flex; /* equal height of the children */
}

.col {
	    flex: 2; /* additionally, equal width */
}
